.nav_button {
	color: grey;
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
}

.nav_button:hover {
	color: black;
	text-decoration: none;
}

.homepage_container {
	background-color: white;
}
.heading {
	color: black;
	font-weight: bold;
	font-size: 25px;
}

.project_name {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	border: 2px solid grey;
	margin: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: black;
}

.project_name:hover {
	background-color: lightgrey;
	text-decoration: none;
	color: black;
}

.project_title {
	padding-left: 5px;
	padding-top: 7px;
}
.header {
	padding-top: 40px;
	padding-right: 140px;
	padding-left: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homepage_app_name {
	color: #0b0c45;
	font-weight: bold;
	font-size: 21px;
}

.left {
	padding-right: 20px;
}

.block {
	align-self: flex-start;
	padding-right: 10px;
	border-radius: 10px;
	height: 40px;
	width: 40px;
	background-color: rgb(105, 103, 103);
}

.btn {
	color: white;
}

input#search {
	border-width: 1px;
	border-radius: 5px;
	border-color: grey;
	background-image: url('lupa2.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position-y: center;
	text-indent: 20px;
	background-position-x: 5px;
	padding-left: 10px;
}
