body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E5E5E5;
}

h3 {
    font-weight: 550;
}

label {
    font-weight: 550;
}

.container {
    display:flex;
    justify-content:center;
}

.app_name {
    bottom: 82.56%;
    color: #0B0C45;
    text-align: center;
    font-weight: bold;
    font-size:21px;
}

.heading {
    font-weight:bold;
    font-size:25px;
    line-height:30px;
}

.form {
    position: absolute;
    background-color: white;
    width: 400px;
    padding: 40px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-label {
    left:2px;
    font-weight: 600;
    font-size:16px;
    line-height:19px;
}

.btn {
    background-color: #0B0C45;
}